extends partials/layout.pug

block content
    .content.container
        h3 Triangle Interpolation
        .row
            pre#svg-code.col-md-5.overflow-auto
            #svg-preview.col-md-5.overflow-auto.p-0
            #svg-controls.col-md-2