extends partials/layout.pug

block content
    .content.container
        p triangle interpolation
        .row
            #svg-code.col-md-4
            #svg-preview.col-md-4
            #svg-controls.col-md-4