extends partials/layout.pug

block content
    .content.container
        p Triangle Interpolation
        .row
            #svg-code.col-md-4.overflow-auto
            #svg-preview.col-md-4.overflow-auto
            #svg-controls.col-md-4